
body{
    font-size: 1.5rem;
    margin: 0px;
}

nav{
    background-color: burlywood;
    display: grid;
    grid-template-columns: 1fr  4fr;
    gap: 1px;
    align-items: center;
    margin-bottom: 25px;

}
nav h1{
    max-width: 250px;
    margin-left: 20px;
}
#nav_list{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#nav_element a{
    text-decoration: none;
    color: rgb(183, 34, 34);
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}